{% extends 'index.html' %}
{% load static %}
{% load myCustomFilters %}

{% block title %}
<title>CLOTHY | Profile</title>
{% endblock %}



{% block body %}
<!-- 
23:48 -->
<!-- breadcrumb -->
<div class="container m-t-100">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="{% url 'home' %}" class="stext-109 cl8 hov-cl1 trans-04">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<a href="" class="stext-109 cl4">
			profile
		</a>
	</div>
</div>


<div class="container p-b-20 p-t-50">
	<div class="row">
		<div class="col-md-6">
			{% if buyer.pic %}
			<img src="{{buyer.pic.url}}" height="85%" width="55%" class="m-l-80" alt="">
			{% else %}
			<img src="{% static 'images/userpic1.png' %}" height="85%" width="55%" class="m-l-80" alt="">
			{% endif %}
		</div>
		<div class="col-md-6">
			<table class="table">
				<tr>
					<th>Name:</th>
					<td>{{buyer.name}}</td>
				</tr>
				<tr>
					<th>username:</th>
					<td>{{buyer.username}}</td>
				</tr>
				<tr>
					<th>Email id:</th>
					<td>{{buyer.email}}</td>
				</tr>
				<tr>
					<th>Phone No:</th>
					<td>{{buyer.phone}}</td>
				</tr>
				<tr>
					<th>Address:</th>
					<td>{{buyer.address}}</td>
				</tr>
				<tr>
					<th>Pin code:</th>
					<td>{{buyer.pin}}</td>
				</tr>
				<tr>
					<th>City:</th>
					<td>{{buyer.city}}</td>
				</tr>
				<tr>
					<th>State:</th>
					<td>{{buyer.state}}</td>
				</tr>
				<tr>
					<td colspan="2"><a href="{% url 'update-profile' %}" class="btn btn-primary w-100 btn-sm">Update
							Profile</a></td>
				</tr>

			</table>
		</div>
	</div>
</div>
<hr>
<div class="container">
	<h1 class="text-center m-tb-20">Order History</h1>
	{% if orders %}
	<div class="row">
		{% for item in orders %}
		<div class="col-md-3 m-t-0">
			<table class="table table-bordered table-responsive">
				<tr>
					<th>Order Id</th>
					<td>{{item.checkout.id}}</td>
				</tr>
				<tr>
					<th>Order Status</th>
					<td>{{Request|orderStatus:item.checkout.orderStatus}}</td>
				</tr>
				<tr>
					<th>Payment Mode</th>
					<td>{{Request|paymentMode:item.checkout.paymentMode}}</td>
				</tr>
				<tr>
					<th>Payment Status</th>
					<td>{{Request|paymentStatus:item.checkout.paymentStatus}}
						<br>
						{% if paymentMode|paymentCondition:item.checkout.paymentStatus %}
					<a href="/re-payment/{{item.checkout.id}}" class="btn w-100 btn-primary">Pay Now</a>
					{% endif %}
					</td>
					
				</tr>
				<tr>
					<th>Subtotal</th>
					<td>&#8377;{{item.checkout.subtotal}}</td>
				</tr>
				
				<tr>
					<th>Shipping</th>
					<td>&#8377;{{item.checkout.shipping}}</td>
				</tr>
				<tr>
					<th>Total</th>
					<td>&#8377;{{item.checkout.total}}</td>
				</tr>
				<tr>
					<th>Date</th>
					<td>{{item.checkout.date}}</td>
				</tr>
			</table>
		</div>
		<div class="col-md-9">
			<table class="table table-bordered table-responsive">
				<tr>
					<th class="column-1">Product</th>
					<th class="column-2">Name</th>
					<th class="column-3">Price</th>
					<th class="column-4">Quantity</th>
					<th class="column-4">Total</th>
				</tr>
				{% for p in item.cp %}
				<tr>
					<td class="column-1">
						<div>
							<img src="{{p.product.pic1.url}}" alt="IMG" width="100px" height="150px">
						</div>
					</td>
					<td class="column-2">{{p.product.name}}</td>
					<td class="column-3">&#8377;{{p.product.finalprice}}</td>
					<td class="column-5">{{p.qty}}</td>
					<td class="column-6">{{p.total}}
					</td>
				</tr>
				
				{% endfor %}
			</table>
		</div> 
		{% endfor %}
	</div>
	{% else %}
	<h2 class="text-center w-100 m-tb-80">No order History</h2>
	{% endif %}
</div>
</div>

{% endblock %}