{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>CLOTHY | SignUp</title>
{% endblock %}


{% block body %}

<div class="container m-t-160 m-b-160">
	{% if messages %}
	{% for msg in messages %}
	<div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
		{{msg}}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endfor %}
	{% endif %}
	<form action="" method="post" novalidate="novalidate">
		{% csrf_token %}
		<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50 m-tb-20 p-tb-50 p-lr-50 form-control">
			<h3 class=" cl2 p-b-30 p-t-10" style="display: flex; justify-content: center;">
				SignUp
			</h3>
			<div>
				<input class="form-control m-b-30 " id="name" name="name" type="text" placeholder="Enter Full Name">
			</div>

			<div>
				<input class="form-control m-b-30 " id="username" name="username" type="text"
					placeholder="Enter Username">
			</div>

			<div>
				<input class="form-control m-b-30 " id="email" name="email" type="email" placeholder="Enter Email id">
			</div>

			<div>
				<input class="form-control m-b-30 " id="phone" name="phone" type="text"
					placeholder="Enter Phone Number">
			</div>

			<div>
				<input class="form-control m-b-30 " id="password" name="password" type="password"
					placeholder="Enter Password">
			</div>

			<div>
				<input class="form-control m-b-30 " id="password" name="cpassword" type="password"
					placeholder="Confirm Password">
			</div>

			<button type="submit" value="submit"
				class="flex-c-m cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 m-t-20 trans-04 pointer">
				SignUp
			</button>
			
			<a href="{% url 'login' %}" style="position: relative; top: 10px;">Login&nbsp;/</a>&nbsp;<a href="#"
				style="position: relative; top: 10px;">Forget Password?</a>
		</div>
	</form>
</div>
{% endblock %}